[submodule "Submodules/ImGui"]
	path = Submodules/ImGui
	url = https://github.com/ocornut/imgui.git

[submodule "Submodules/GLFW"]
	path = Submodules/GLFW
	url = https://github.com/OuterCelestics/glfw.git
